<h1>Profile</h1>
<div class="row">
    <div class="col s6">
        {{#if user.avatar}}
            <img
                src="data:{{user.avatar.contentType}};base64,{{user.avatar.data}}"
                class="responsive-img">
        {{else}}
            <p>User avatar is empty</p>
        {{/if}}
    </div>
    <div class="col s6">

        <p>id: <span>{{user._id}}</span></p>

        <form action="/profile" method="POST" enctype="multipart/form-data">
            <div class="input-field">
                <input
                    value="{{user.name}}"
                    id="name"
                    name="name"
                    type="text"
                    class="validate"
                    required="required"
                    min="3">
                <label for="price">Name</label>
                <span class="helper-text" data-error="Plase is not be empty"></span>
            </div>
            <div class="input-field">
                <input
                    value="{{user.email}}"
                    id="email"
                    name="email"
                    type="email"
                    class="validate"
                    required="required">
                <label for="price">Email</label>
                <span class="helper-text" data-error="Plase is not be empty"></span>
            </div>

            <div class="input-field">
                <input
                    value="{{user.limit}}"
                    id="limit"
                    name="limit"
                    type="number"
                    class="validate"
                    required="required">
                <label for="price">Limit</label>
                <span class="helper-text" data-error="Plase is not be empty"></span>
            </div>

            <div class="file-field input-field">
                <div class="btn">
                    <span>Avatar</span>
                    <input type="file" name="file" ></div>
                <div class="file-path-wrapper">
                    <input
                        class="file-path validate"
                        type="text"
                        name="avatar_extention"
                        placeholder="Upload one or more files"></div>

            </div>

            <input type="hidden" name="_csrf" value="{{@root.csrf}}">
            <button class="waves-effect waves-light btn">
                <i class="material-icons left">update</i>Update</button>
        </form>

    </div>
</div>
{{#if courses}}
<h2>Your author course</h2>
<div class="row">
{{#each courses}}
    {{> card}}
{{/each}}
</div>
{{> pagination}}
{{/if}}